#root {
  background-image: linear-gradient(to bottom, grey , black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  min-height: 100vh;
}

main {
  color: #ffffff;
  width: 70%;
  margin: auto;
  text-align: center;
}

main button {
  margin-top: 20px;
  background-color: #00d6ff;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;  
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: ff0000;
}
